/* Style the video: 100% width and height to cover the entire window */
.bg { 
  /* The image used */
  background-image: url('../assets/pup.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


