    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"  id="video-background" >
    <source src="../assets/vids/openingVid.mp4" type="video/mp4">
  </video>

  <div class="content" >
      <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Input">
          </mat-form-field>
        
        </div>
  </div>
  



<router-outlet></router-outlet>
