    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"  id="video-background" >
    <source src="../assets/vids/openingVid.mp4" type="video/mp4">
  </video>

  <!-- <div class="content" >
      <div class="example-container"> -->

          <mat-card class="login-card" width="50%" >
              <mat-card-header>
                  <mat-card-title >Login</mat-card-title>
              </mat-card-header>
                  <mat-card-content>
                      <form  class="login-form">
                      <mat-form-field>
                          <input  matInput  placeholder="Username"   name="username"  required>
                      </mat-form-field>
                          <mat-form-field>
                            <input  matInput  placeholder="Password" type="password"  name="password"  required>
                          </mat-form-field>
                        </form>
                  </mat-card-content>
      
        
        <!-- </div>
  </div> -->
  



<router-outlet></router-outlet>
